.task_link{
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(230, 223, 141);
}
.task_header{
    margin: 20px;
}
.filter_card{
    display: inline-block;
    /* min-width: 300px; */
    border-radius: 5px;
    box-shadow: 19px 15px 68px -17px #000000;
    padding: 15px;
}
.filter_btn{
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
.filter_btn:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.filter_btn:nth-child(4){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.active{
    transform: scale(1.1);
    border-width: 3px;
}



.all{
    color: white;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(93, 85, 85);
}
.low{
    color: white;
    background-color: rgb(100, 173, 109);
    border-style: solid;
    border-color: rgb(95, 143, 102);
}
.medium{
    color: white;
    background-color: rgb(60, 61, 160);
    border-style: solid;
    border-color: rgb(98, 94, 148);
}
.high{
    color: white;
    background-color: rgb(184, 58, 58);
    border-style: solid;
    border-color: rgb(158, 74, 74);
}
.witout_priority{
    color: white;
    background-color: rgb(153, 149, 149);
}
.border_none{
    border: none;
}